@import 'breakpoints';

.tags {
	$parent: &;

	padding: 20px 0;

	ul {
		margin: 0;
		list-style: none;
		padding: 0;
	}

	li {
		display: inline-block;
		margin: 0 6px 6px 0;
		padding: 4px 8px;
		background: #ccc;
		color: initial;
		border-radius: 3px;
	}
}
